extend layout
block content
  h1 אודות קאפס
  p.lead קאפס הינה רשת בתי הקפה הגדולה בעיר תל אביב.

  p.lead אנו שואפים לתת לבתי הקפה השייכים לשירות את השירות הטוב והמשתלם ביותר.
  p.lead כחלק מהערך המוסף שאנו מספקים ללקוחותינו נבנתה מערכת לניהול הזמנות ספקים שמקלה על תהליך הזמנת הסחורה, מוזילה אותה ומאפשרת שליטה מהירה ונוחה מכל מקום שהוא - CUPStore.
  p.lead המערכת עוברת שיפורים מתמידים ונשמח תמיש לשמוע מכם הצעות לשיפור או רעיונות לאפשרויות חדשות אשר אינם קיימים כיום במערכת.
