extend layout
block content
  h1 צור קשר
  p.lead ניתן לפנות אלינו בכל נושא
  address
    br
    | חברת אורבן קאפס בע"מ
    br
    a(href="http://www.cupstelaviv.com") http://www.cupstelaviv.com
    br
    | השפלה 4, תל אביב
    br
    abbr(title="Phone") P:
    |  (972) 03-5292513
    br
    abbr(title="Fax") F:
    |  (972) 03-5292513
    br
    abbr(title="Email") E:
    |  store@cupstelaviv.com
