extend layout
block content
  h1 צור קשר
  p.lead ניתן לפנות אלינו בכל נושא
  address
    strong cupstelaviv.com
    br
    | Urbancups
    br
    | השפלה 4
    br
    abbr(title="Phone") P:
    |  (123) 456-7890
    br
    abbr(title="Fax") F:
    |  (123) 456-7890
    br
    abbr(title="Email") E:
    |  info@cupstelaviv.com