doctype 5
html(lang="en")
  head
    title #{store} | #{title}
    link(href="/css/bootstrap-rtl.min.css", rel="stylesheet")
    link(href="/css/bootstrap-responsive-rtl.min.css", rel="stylesheet")
    link(href="/css/main.css", rel="stylesheet")
  body
    .modal.hide.fade#modal
    .navbar.navbar-fixed-top
        .navbar-inner
          .container
            a.pull-left(href="/")
              img.brand.logo(src='/img/logo.png')
            form.navbar-search.pull-left
              input.search-query(type="text", placeholder="חפש")
            ul.nav
              li
                a(href="/") בית
              li
                a(href="/about") אודות
              li
                a(href="/contact") צור קשר
              if (!locals.logged)
                li
                  a(data-toggle="modal", data-target="#modal", href="/modals/register") הירשם
                li
                  a(data-toggle="modal", data-target="#modal", href="/modals/login") התחבר
              else
                li
                  a(href="/account/home") חשבון
                li
                  a(href="/account/logout") התנתק
            #cart
              include ../cart/cart

    .container-fluid
        block content
      hr
    script(src="http://code.jquery.com/jquery.min.js", type="text/javascript")
    script(src="/js/bootstrap.min.js", type="text/javascript")
    script(src="/js/controller/main.js")
    block scripts
