@import url("http://fonts.googleapis.com/css?family=Open\+Sans");
@font-face {
  font-family: 'Carmela';
  src: url('Fonts/carmela.eot');
  src: url('Fonts/carmela.eot?#iefix') format('embedded-opentype'),
  url('Fonts/carmela.woff') format('woff'),
  url('Fonts/carmela.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 
body {
  background-color: #fff;
  background: url("stripe.png");
  color: #242424;
  font-family: 'Open Sans', sans-serif;
  padding-top: 80px;
}

.thumbnail h6 p {
    color:#333;
}

.logo {
  height: 38px;
}

.navbar-fixed-top .navbar-inner {
  background-image: none;
  background-color: #00c6d5;
  border: 0px;
  border-radius: 0px 0px;
  padding-top: 8px;
  padding-right: 20px;
  padding-left: 20px;
  font: 16px/20px Carmela, Arial, sans-serif;
}

.navbar {
  color: white;
}


.navbar .brand {
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1.0);
  padding-top: 0px;
}

.navbar .nav>li>a {
	color: black;
}


.user {
  padding-right: 10px;
}

img.avatar {
  width: 100px;
  box-shadow: 0px 0px 10px black;
}

a {
  color: #00a0b0;
}

a:hover {
  color: #008090;
}

/*th {
  background-color: #00c6d5;
  color: white;
}

th a {
  color: white;
}*/

.activity-progress {
  background-image: url(/img/progress.gif);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.heb-header {
  font-family: 'arial', cursive;
}